{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title></title>
<!-- Favicon Icon -->
<!--<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<!-- Plugins -->
<link rel="stylesheet" href="{% static 'css/core.css'%}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body id="top" class="stickyfooter header-fixed">
<div class="animsition">
	<div class="content">
		<header class="header-wrap no-transparent">
			<div class="header-container">
				<div class="container clearfix">
					<div class="pull-left">
						<!-- Logo -->
						<a href=index class="logo clearfix">Snow Whites & three dwarfs</a>
					</div>
					<div class="pull-right">
						<!-- Menu Burger -->
						<a href="#" class="fullscreen-menu-toggle">
							<span>Menu</span>
							<i class="menu-bars">
								<i></i>
								<i></i>
								<i></i>
							</i>
						</a>
					</div>

				</div>
			</div>
			<!-- End header-container -->
		</header>
		<div id="fullscreen-navigation">
			<div class="inner-wrap">
				<nav>
					<ul class="nav_menu">
						<li><a href=index>Home</a></li>
						<li><a href=me>Me</a></li></li>
						<li><li><a href=mission_hall>Mission Hall</a></li></li>
						<li><a href=login>Login</a></li>
						<li><a href=register>Register</a></li>
						<!--<li><a href="about.html">About US</a></li>-->
					</ul>
				</nav>
			</div>
		</div>
		<!-- End fullscreen-navigation -->
		<section class="jarallax" style="background-image: url('../static/img/bg/051.png');">
			<div class="container">
				<div class="aligner">
					<div class="aligner-item page-title">
						<h1>校园支线任务平台</h1>
						<p>Campus-side-mission-platform</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End section -->

		<main>
			<div class="section">
				<div class="container">
					<div class="filters-wrap">
						<div class="text-center">
							<a class="active" href="#" data-filter="*">全部</a>
							<a href="#" data-filter=".f_INTERIORS">学习</a>
							<a href="#" data-filter=".f_Furniture"> 生活</a>
							<a href="#" data-filter=".f_art">娱乐</a>
						</div>
					</div>
					<!-- End filters-wrap -->
					<div class="portfolio-masonry-wrapper" data-col="3" data-gutter="30">
						<div class="portfolio-list">
							<article class="portfolio-item-wrap f_INTERIORS">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/辅导功课.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">
												辅导功课 </a>
											</h6>
											<div class="portfolio-categories">
												INTERIORS
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_Furniture">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/跑腿.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">跑腿服务</a>
											</h6>
											<div class="portfolio-categories">
												 Furniture
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_art">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/运动.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">运动</a>
											</h6>
											<div class="portfolio-categories">
												GRAPHIC
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_INTERIORS">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/资源共享.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">资源共享</a>
											</h6>
											<div class="portfolio-categories">
												ART HOUSE
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_art">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/游戏.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link"> 游戏 </a>
											</h6>
											<div class="portfolio-categories">
												House Design
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_art">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/约玩.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">约玩</a>
											</h6>
											<div class="portfolio-categories">
												Furniture
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_INTERIORS">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/团队招募.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">团队招募</a>
											</h6>
											<div class="portfolio-categories">
												Creative
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
							<article class="portfolio-item-wrap f_Furniture">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="{%static 'img/index/陪同.jpg'%}" alt="">
									</div>
									<div class="portfolio-content-wrap">
										<div class="potfolio-content">
											<h6 class="portfolio-title">
												<a href="work_single.html" class="animsition-link">陪同服务</a>
											</h6>
											<div class="portfolio-categories">
												INTERIORS
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- End portfolio-item-wrap -->
						</div>
						<div class="classic-load-button text-center">
							<p class="end">No More Projects</p>
							<a id="classic-load-button-link" href="load_more.html" data-load="1">Load More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End section -->
			<!-- Count To -->			<!-- Latest Blog Section Start -->			<!-- Latest Blog Section End -->
			<!-- Testimonials -->
			<section class="testimonial-area">
				<div class="container-fluid">
					<div class="row"> </div>
				</div>
			</section>
			<!-- Pricing Table Area -->		</main>
		<a href="#top" class="scroll-top scroll-top-hidden">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- End scroll-top -->
	</div>
	<!-- End content -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="text-center">
					<!-- Footer Logo Text -->
					<a href=index class="logo clearfix">Minidark</a>
					<div class="footer-socials">
						<a href="#" data-toggle="tooltip" data-placement="top" title="facebook">
							<i class="fa fa-fw fa-facebook"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="twitter">
							<i class="fa fa-fw fa-twitter"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="google plus">
							<i class="fa fa-fw fa-google-plus"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="rss">
							<i class="fa fa-fw fa-rss"></i>
						</a>
					</div>
					<!-- End socials -->
					<!-- End footer-menu -->
					<p class="copy">
						Copyright &copy; 2019.Sonw whites and three dwarfs All rights reserved.<a target="_blank" ></a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->
</div>
<!-- End animsition -->
<script src="{%static 'js/jquery-1.12.4.min.js'%}"></script>
<script src="{%static 'js/libs.js'%}"></script>
<!-- Custom -->
<script src="{%static 'js/main.js'%}"></script>
<script src="{%static 'js/script.js'%}"></script>
</body>
</html>
