{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title></title>
<!-- Favicon Icon -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<!-- Plugins -->
<link rel="stylesheet" href="{% static 'css/core.css'%}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body id="top" class="stickyfooter header-fixed">
<div class="animsition">
	<div class="content">
		<header class="header-wrap no-transparent">
			<div class="header-container">
				<div class="container clearfix">
					<div class="pull-left">
						<!-- Logo -->
						<a href=index class="logo clearfix">Snow Whites & three dwarfs</a>
					</div>
					<div class="pull-right">
						<!-- Menu Burger -->
						<a href="#" class="fullscreen-menu-toggle">
							<span>Menu</span>
							<i class="menu-bars">
								<i></i>
								<i></i>
								<i></i>
							</i>
						</a>
					</div>

				</div>
			</div>
			<!-- End header-container -->
		</header>
		<div id="fullscreen-navigation">
			<div class="inner-wrap">
				<nav>
					<ul class="nav_menu">
						<li><a href=index>Home</a></li>
						<li><a href=me>Me</a></li></li>
						<li><li><a href=mission_hall>Mission Hall</a></li></li>
						<li><a href=login>Login</a></li>
						<li><a href=register>Register</a></li>
						<!--<li><a href="about.html">About US</a></li>-->
					</ul>
				</nav>
			</div>
		</div>
		<!-- End fullscreen-navigation -->
		<!--<section class="jarallax" style="background-image: url('img/bg/05.png');">
			<div class="container">
				<div class="aligner">
					<div class="aligner-item page-title">
						<br>
						<br>
						<img src="img" alt="">
						<br>
						<br>
						<h1>Hello,XXX!</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- End section -->
	<div class="Personal" style="background-image: url('../static/img/Hello.png');">
		<br>
		<br>
		<br>
		<br>
		<h1 style="">Hello,{{username}}!</h1>
	</div>
	<br>
	<br>
	<div class="Personal2">
		<br>
		<p>当前信誉值</p>
		<h1>100</h1>
	</div>
	<br>
	<div class="Personal3">
		<button>
			<a href=new_mission>发布任务</a>
		</button>
		<button>
			<a href=mission_hall>接受任务</a>
		</button>
	</div>
			<!-- Service Item -->
			<section class="pt-50">
				<div class="container">
					<!-- <div class="mb30">
						<h5>Service Item</h5>
					</div> -->
					<div class="row">
						<div class="col-md-4" style="margin-left: 3%;">
							<div class="service-box">
								<div class="icon-holder">
									<i class="pe-light"></i>
								</div>
								<div class="content-holder">
									<a href=me>
										<h5>已接任务</h5>
									</a>									
									<span>{{计数.已接任务}}&nbsp;</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="service-box">
								<div class="icon-holder">
									<i class="pe-help2"></i>
								</div>
								<div class="content-holder">
									<a href=me>
										<h5>已完成任务</h5>
									</a>
									<span>0&nbsp;</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="service-box">
								<div class="icon-holder">
									<i class="pe-graph2"></i>
								</div>
								<div class="content-holder">
									<a href=me>
										<h5>发布的任务</h5>
									</a>
									<span>{{计数.已发任务}}&nbsp;</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- Team Members -->
			
			<!-- End section -->
			
		<!-- End scroll-top -->
	</div>
	<!-- End content -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="text-center">
					<!-- Footer Logo Text -->
					<a href=index class="logo clearfix">Minidark</a>
					<div class="footer-socials">
						<a href="#" data-toggle="tooltip" data-placement="top" title="facebook">
							<i class="fa fa-fw fa-facebook"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="twitter">
							<i class="fa fa-fw fa-twitter"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="google plus">
							<i class="fa fa-fw fa-google-plus"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="rss">
							<i class="fa fa-fw fa-rss"></i>
						</a>
					</div>
					<!-- End socials -->
					<!-- End footer-menu -->
					<p class="copy">
						Copyright &copy; 2019.两个白雪公主和三个小矮人 All rights reserved.<a target="_blank" 
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->
</div>
<!-- End animsition -->
<script src="{%static 'js/jquery-1.12.4.min.js'%}"></script>
<script src="{%static 'js/libs.js'%}"></script>
<!-- Custom -->
<script src="{%static 'js/main.js'%}"></script>
<script src="{%static 'js/script.js'%}"></script>
</body>
</html>
