{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title></title>
<!-- Favicon Icon -->
<link rel="shortcut icon" href="{%static 'img/favicon.ico'%}" type="image/x-icon">
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<!-- Plugins -->
<link rel="stylesheet" href="{% static 'css/core.css'%}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
<body id="top" class="stickyfooter header-fixed">
<div class="animsition">
	<div class="content">
		<header class="header-wrap no-transparent">
			<div class="header-container">
				<div class="container clearfix">
					<div class="pull-left">
						<!-- Logo -->
						<a href=index class="logo clearfix">Snow Whites & three dwarfs</a>
					</div>
					<div class="pull-right">
						<!-- Menu Burger -->
						<a href="#" class="fullscreen-menu-toggle">
							<span>Menu</span>
							<i class="menu-bars">
								<i></i>
								<i></i>
								<i></i>
							</i>
						</a>
					</div>

				</div>
			</div>
			<!-- End header-container -->
		</header>
		<div id="fullscreen-navigation">
			<div class="inner-wrap">
				<nav>
					<ul class="nav_menu">
						<li><a href=index>Home</a></li>
						<li><a href=me>Me</a></li></li>
						<li><li><a href=mission_hall>Mission Hall</a></li></li>
						<li><a href=login>Login</a></li>
						<li><a href=register>Register</a></li>
						<!--<li><a href="about.html">About US</a></li>-->
					</ul>
				</nav>
			</div>
		</div>
		<!-- End fullscreen-navigation -->
		<section class="jarallax" style="background-image: url('/static/img/bg/021.png');">
			<div class="container">
			  <div class="aligner">
					<div class="aligner-item page-title">
						<form action="" method="POST" onsubmit="return judge()">
						<h4 align="center" style="color: white"><strong>个人信息注册</strong></h4>
						<div>
						<p align="left" id="nametip"><strong>请输入您的用户名</strong></p>
						<input type="text" name="username" id="nameid" style="color: white" placeholder="姓名" autocomplete="off" onblur="checkname()">	
					</div>
					<div>
						<p align="left" id="idtip"><strong>请输入您的学号</strong></p>
						<input type="text" name="usernum" required id="idid" style="color: white" placeholder="学号" autocomplete="off" onblur="checkid()">				
						
					</div>
					<div>
						<p align="left" id="pswtip1"><strong>请输入至少8位密码</strong></p>	
						<input type="password" name="psw1" id="pswid1" style="color: white" placeholder="输入密码" autocomplete="off" onblur="checkpsw()">
							
					</div>
					<div>
						<p align="left" id="pswtip2"><strong>请确认您的密码</strong></p>
						<input type="password" name="psw2" id="pswid2" style="color: white" placeholder="确认密码" autocomplete="off" onblur="judgepsw()">
						
					</div>
					<div>
						<p align="left" id="teltip"><strong>请输入您的电话号码</strong></p>	
						<input type="text" name="tel" required id="telid" style="color: white" placeholder="电话" autocomplete="off" onblur="checktel()">
						
					</div>
						<br>
						 <P><input type="submit"  value="提交"   style="width:70px;height:40px;;background-color:rgba(253,251,251,0.23)" /></P>
						</form>
					</div>
			  </div>
			</div>
		</section>
	<!-- End content -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="text-center">
					<!-- Footer Logo Text -->
					<a href=index" class="logo clearfix">Minidark</a>
					<div class="footer-socials">
						<a href="#" data-toggle="tooltip" data-placement="top" title="facebook">
							<i class="fa fa-fw fa-facebook"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="twitter">
							<i class="fa fa-fw fa-twitter"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="google plus">
							<i class="fa fa-fw fa-google-plus"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="rss">
							<i class="fa fa-fw fa-rss"></i>
						</a>
					</div>
					<!-- End socials -->
					<!-- End footer-menu -->
					<p class="copy">
						Copyright &copy; 2019.Sonw whites and three dwarfs All rights reserved.<a target="_blank"
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->
</div>
<!-- End animsition -->
<script src="{%static 'js/jquery-1.12.4.min.js'%}"></script>
<script src="{%static 'js/libs.js'%}"></script>
<!-- Custom -->
<script src="{%static 'js/main.js'%}"></script>
<script src="{%static 'js/script.js'%}"></script>
<script src="{%static 'js/register.js'%}"></script>
</body>
</html>
